body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h3 {
    color: #ff3b3b;
}

a, button {
    background-color: #ff3b3b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover, button:hover {
    background-color: #e60000;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ff3b3b;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: white;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #ff3b3b;
}
